<Layouts.flash_group flash={@flash} />

<.navbar on_home_page={true} />

<main id="conteudo">
  <.hero />
  <.pain />
  <.how_it_works />
  <.platform />
  <.for_who />
  <.testimonials />
  <.pricing />
  <.live_component module={AppWeb.PublicLive.Components.ContactForm} id="contact-form" />
  <.footer />
</main>
