<Layouts.flash_group flash={@flash} />

<.navbar />

<main id="conteudo">
  <.hero />
  <.pain />
  <.how_it_works />
  <.platform />
  <.for_who />
  <.testimonials />
  <.pricing />
  <.contact form={@form} contact_submitted={@contact_submitted} />
  <.footer />
</main>
